.idea/
venv/
server/__pycache__/
server/configurations/__pycache__/__init__.cpython-37.pyc
server/configurations/__pycache__/environments_variables.cpython-37.pyc
server/configurations/__pycache__/
server/models/__pycache__/
server/controllers/__pycache__/
server/filters/__pycache__/__init__.cpython-37.pyc

server/configurations/__pycache__/enviroment_variables.cpython-37.pyc
server/filters/__pycache__/
server/logs/
server/repository/__pycache__/
server/services/__pycache__/
server/zipkin/__pycache__/__init__.cpython-37.pyc
server/zipkin/__pycache__/
alembic/__pycache__/
alembic/versions/__pycache__/
logs/
.tox/
swagger_server.egg-info/
server/test/mocks/__pycache__/mock_default.cpython-37.pyc
server/test/mocks/__pycache__/
server/test/__pycache__/__init__.cpython-37.pyc
server/test/__pycache__/
server/test/integration/__pycache__/
server/test/unit/__pycache__/
server/test/unit/configurations/__pycache__/
htmlcov/
coverage.xml
.coverage
*.env
*.vscode/*